<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{{ pokemon.title_ru }}</title>
</head>
<body>
<h1>{{ pokemon.title_ru }}</h1>
<img src="{{ pokemon.img_url }}" alt="{{ pokemon.title_ru }}">
<p><strong>Описание:</strong> {{ pokemon.description }}</p> <!-- Новая строка для описания -->
<p>Уровень: {{ pokemon.level }}</p>
<p>Здоровье: {{ pokemon.health }}</p>
<p>Атака: {{ pokemon.attack }}</p>
<p>Защита: {{ pokemon.defense }}</p>
<p>Выносливость: {{ pokemon.stamina }}</p>
<p>Появился: {{ pokemon.appeared_at }}</p>
<p>Исчезнет: {{ pokemon.disappeared_at }}</p>

<h2>Карта</h2>
<div>
  {{ map|safe }}
</div>
</body>
</html>
